.main-con{
    margin-left:240px;
    padding: 80px 24px;
    min-height: 100vh;
}

.video-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap:20px 16px;
}
.video-pic{
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 15px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: block;
}
.video-pic:hover{
    background-color: #393838;
    border-color: #656565;
}
.vd-link{
    display: block;
    position: relative;
    margin-bottom: 12px;
}

.vd-pic{
    width: 100%;
    border-radius: 12px;
}

.vd-dur{
    position: absolute;
    bottom: 10px;
    right: 8px;
    padding: 3px 6px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 4px;
}
.video-info{
    display: grid;
    grid-template-columns: 36px 1fr 24px;
    column-gap: 12px;
}

.profile-picture{
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.vd-title{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
}

.channel-name,.video-stats{
    font-size: 14px;
    color: #a1a1a1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: block;
    text-decoration: none;
    padding-bottom: 4px;
}

.channel-name:hover{
    color: aliceblue;
}
.vd-option{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px 5px;
    grid-column: 3/4;
    align-self: flex-start;
    justify-self: flex-end;
}
.vd-option:hover{
    background-color: #6f6f6f;
    border-radius: 50%;
    transition: background-color 0.5s;
}
@media (max-width: 600px) {
    .sidebar{
        display: none;
    }
    .main-con{
        margin-left:0;
    }
    .logo{
        margin-left:0;
    }
    .search-ip{
        display:none;
    }
    .search-form{
        border:none;
    }
}
